# Entorno virtual
venv/
env/
.venv/
.env/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de distribución / empaquetado
build/
dist/
*.egg-info/
.eggs/

# Configuración de IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de logs
*.log

# Archivos temporales
*.tmp
*.temp
*.bak
*.swp

# Archivos de configuración sensibles
*.env
.env.*
secrets.json

# MacOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
